@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";

}
<section class="h-100 h-custom shadow" style="background-color: #8fc4b7;border-radius:15px">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-9 col-xl-7">
                <div class="card shadow" style="border-radius:13px">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" style="border-radius:13px">
                            @{
                                var slideIndexInner = 0;
                            }
                            @foreach (var banner in Model.Banners)
                            {
                                <div class="carousel-item @(slideIndexInner == 0 ? "active" : "")">
                                    <img class="d-block w-100" src="@(banner.UrlImage ?? "")" alt="First slide">
                                </div>
                                slideIndexInner++;
                            }

                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2 text-uppercase text-center">Registration</h3>

                        <form class="px-md-2" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="form3Example1q">Fullname</label>
                                <input type="text" id="form3Example1q" asp-for="Input.Fullname" class="form-control" />
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline datepicker">
                                        <label for="exampleDatepicker1" class="form-label">Email</label>
                                        <input type="text" class="form-control" id="exampleDatepicker1" asp-for="Input.Email" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline datepicker">
                                        <label for="exampleDatepicker1" class="form-label">Phone number</label>
                                        <input type="text" class="form-control" id="exampleDatepicker1" asp-for="Input.PhoneNumber" />
                                    </div>
                                </div>
                            </div>
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="form3Example1q">Address</label>
                                <input type="text" id="form3Example1q" asp-for="Input.Address" class="form-control" />
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline datepicker">
                                        <label for="exampleDatepicker1" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="exampleDatepicker1" asp-for="Input.Password" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline datepicker">
                                        <label for="exampleDatepicker1" class="form-label">Confirm Password</label>
                                        <input type="password" class="form-control" id="exampleDatepicker1" asp-for="Input.ConfirmPassword" />
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button id="registerSubmit" type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-success btn-lg mb-1">Submit</button>
                                <p class="text-center text-muted mt-5 mb-0">
                                    Have already an account? <a asp-area="Identity" asp-page="/Account/Login"
                                                                class="fw-bold text-body"><u>Login here</u></a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
