@model IEnumerable<FashionStore.Models.Order>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center mb-4 font-weight-bold">
    <h4 class="">Order History</h4>
</div>
<div class="shopping__cart__table">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Order Date</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td class="product__cart__item">
                        <div class="product__cart__item__text">
                            @order.OrderID
                        </div>
                    </td>
                    <td class="product__cart__item">
                        <div class="product__cart__item__text">
                            @order.OrderDate.ToString("MMM-dd-yyyy")
                        </div>
                        
                    </td>
                    <td class="product__cart__item">
                        <div class="product__cart__item__text">
                            @String.Format("{0:N0} VND", order.Details.Sum(x => x.Product.Price * x.Quantity))
                        </div>
                    </td>
                    <td class="cart__close">
                        <a asp-action="DetailOrderHistory" asp-route-id="@order.OrderID">
                            <i class="fa fa-eye" title="View details    "></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
