
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container bg-dark text-center">
    <h1>Details</h1>
</div>
<form method="post">
    <div class="row mt-2">
        <div class="col-6 pt-2">
            <label class="form-label">Product Name</label>
            <input class="form-control" type="text" />
        </div>
        <div class="col pt-2">
            <label class="form-label">Product Descriptions</label>
            <input class="form-control" type="text" />
        </div>
    </div>
</form>
