
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container text-center mt-5" style="background:#EEEEEE; border-radius:15px;box-shadow: -21px 12px 52px 3px #153448;">
    <div>
        <h1>Test</h1>
    </div>
</div>
