@model FashionStore.Areas.Admin.Models.Dashbroad
@{
	ViewData["Title"] = "Dashboard";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>


    .transion {
        transition: all 0.3s ease;
    }

        .transion:hover {
            transform: scale(1.01);
        }
</style>
<div class="content-wrapper-scroll">

    <div class="container bg-light mt-5 shadow w-autorounded-3 pb-5" style="width:100vw;height:100vh">
        <div id="ordernew" style="width: 600px;height:400px;" class="mt-5"></div>
    </div>
	<!-- Content wrapper end -->
</div>

<script>
    // Initialize the echarts instance based on the prepared dom
    var myChart = echarts.init(document.getElementById('ordernew'));

    // Specify the configuration items and data for the chart
    var option = {
        title: {
            text: 'ECharts Getting Started Example'
        },
        tooltip: {},
        legend: {
            data: ['sales']
        },
        xAxis: {
            data: ['Shirts', 'Cardigans', 'Chiffons', 'Pants', 'Heels', 'Socks']
        },
        yAxis: {},
        series: [
            {
                name: 'sales',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }
        ]
    };

    // Display the chart using the configuration items and data just specified.
    myChart.setOption(option);
</script>

