@{
    ViewData["Title"] = "Home Page";
}


    <style>
    .banner {
            width:100px;
            height:100px;
        }
    </style>


<div class="row mb-3">
    <img class="banner" src="https://routine.vn/media/amasty/webp/wysiwyg/Subbanner/Mua_ao_tang_vo_-_Coffee_Lovers_7__jpg.webp" alt="Alternate Text" />
</div>

<div class="row">
    <img class="banner" src="https://routine.vn/media/amasty/webp/wysiwyg/Subbanner/Mua_ao_tang_vo_-_Coffee_Lovers_7__jpg.webp" alt="Alternate Text" />
</div>

<div class="row">
    <img class="banner" src="https://routine.vn/media/amasty/webp/wysiwyg/Subbanner/Mua_ao_tang_vo_-_Coffee_Lovers_7__jpg.webp" alt="Alternate Text" />
</div>
<div class="row">
    <img class="banner" src="https://routine.vn/media/amasty/webp/wysiwyg/Subbanner/Mua_ao_tang_vo_-_Coffee_Lovers_7__jpg.webp" alt="Alternate Text" />
</div>
