@{
    ViewData["Title"] = "Home Page";
}

<style>
    .banner{
        border-radius:10px;
        cursor:pointer;
    }

    .btn-pb {
        
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 40px
    }

    .text
    {
       
        margin-top: 20px;
        margin-bottom: 30px 
      
    } 
    
    
</style>

<div class="container-fluid">
    <div class="row mb-5">
        <div class="col">
            <img class="banner" src="https://routine.vn/media/amasty/webp/wysiwyg/Subbanner/NEW_ARRIVALS_jpg.webp" />
        </div>

        <div class="col">
            <img class="banner" src="https://routine.vn/media/amasty/webp/wysiwyg/Subbanner/NEW_ARRIVALS_jpg.webp" />
        </div>

        <div class="col">
            <img class="banner" src="https://routine.vn/media/amasty/webp/wysiwyg/Subbanner/NEW_ARRIVALS_jpg.webp" />
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <img src="https://routine.vn/media/amasty/webp/wysiwyg/Polo_Premium_-_Banner_Video_jpg.webp" alt="Alternate Text" />
        </div>
    </div>
    <div class="row row-cols-auto">
        <div class="col">
            <div class="card border-0">
                <img style="border-radius:15px" src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/a/o/ao-polo-nam-27-10s24pol004p_bright_white_1__1.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <a href="#" class="mb-3 h4 text-dark" >Áo Polo Nam</a>  
                    <p class="h6 pt-4" >500,000vnd</p>
                </div>
            </div>
            
        </div>

        <div class="col">
            <div class="card border-0">
                <img style="border-radius:15px" src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/a/o/ao-polo-nam-27-10s24pol004p_bright_white_1__1.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <a href="#" class="mb-3 h4 text-dark">Áo Polo Nam</a>
                    <p class="h6 pt-4">500,000vnd</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0" >
                <img style="border-radius:15px" src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/a/o/ao-polo-nam-27-10s24pol004p_bright_white_1__1.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <a href="#" class="mb-3 h4 text-dark">Áo Polo Nam</a>
                    <p class="h6 pt-4">500,000vnd</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0" >
                <img style="border-radius:15px" src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/a/o/ao-polo-nam-27-10s24pol004p_bright_white_1__1.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <a href="#" class="mb-3 h4 text-dark">Áo Polo Nam</a>
                    <p class="h6 pt-4">500,000vnd</p>
                </div>
            </div>
        </div>
        
    </div>
    <button class="btn btn-outline-dark btn-pb "><b>XEM THÊM</b></button>

    <div> <h3 class="text text-center text-dark pt-4"><b>COFFEE LOVERS</b></h3> </div>

    <div class="row row-cols-auto pt-4">
        <div class="col">
            <div class="card border-0">
                <img style="border-radius:15px" src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/a/o/ao-polo-nam-27-10s24pol004p_bright_white_1__1.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <a href="#" class="mb-3 h4 text-dark">Áo Polo Nam</a>
                    <p class="h6 pt-4">500,000vnd</p>
                </div>
            </div>

        </div>

        <div class="col">
            <div class="card border-0">
                <img style="border-radius:15px" src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/a/o/ao-polo-nam-27-10s24pol004p_bright_white_1__1.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <a href="#" class="mb-3 h4 text-dark">Áo Polo Nam</a>
                    <p class="h6 pt-4">500,000vnd</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0">
                <img style="border-radius:15px" src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/a/o/ao-polo-nam-27-10s24pol004p_bright_white_1__1.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <a href="#" class="mb-3 h4 text-dark">Áo Polo Nam</a>
                    <p class="h6 pt-4">500,000vnd</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0">
                <img style="border-radius:15px" src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/a/o/ao-polo-nam-27-10s24pol004p_bright_white_1__1.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <a href="#" class="mb-3 h4 text-dark">Áo Polo Nam</a>
                    <p class="h6 pt-4">500,000vnd</p>
                </div>
            </div>
        </div>

    </div>
    <button class="btn btn-outline-dark btn-pb "><b>XEM THÊM</b></button>

    <div> <h3 class="text text-center text-dark pt-4"><b>ĐỒNG GIÁ</b></h3> </div>
    <div class="row row-cols-auto pt-4">
        <div class="col">
            <div class="card border-0">
                <img style="border-radius:15px" src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/a/o/ao-polo-nam-27-10s24pol004p_bright_white_1__1.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <a href="#" class="mb-3 h4 text-dark">Áo Polo Nam</a>
                    <p class="h6 pt-4">500,000vnd</p>
                </div>
            </div>

        </div>

        <div class="col">
            <div class="card border-0">
                <img style="border-radius:15px" src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/a/o/ao-polo-nam-27-10s24pol004p_bright_white_1__1.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <a href="#" class="mb-3 h4 text-dark">Áo Polo Nam</a>
                    <p class="h6 pt-4">500,000vnd</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0">
                <img style="border-radius:15px" src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/a/o/ao-polo-nam-27-10s24pol004p_bright_white_1__1.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <a href="#" class="mb-3 h4 text-dark">Áo Polo Nam</a>
                    <p class="h6 pt-4">500,000vnd</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border-0">
                <img style="border-radius:15px" src="https://routine.vn/media/catalog/product/cache/d0cf4470db45e8932c69fc124d711a7e/a/o/ao-polo-nam-27-10s24pol004p_bright_white_1__1.jpg" alt="Alternate Text" />
                <div class="card-body">
                    <a href="#" class="mb-3 h4 text-dark">Áo Polo Nam</a>
                    <p class="h6 pt-4">500,000vnd</p>
                </div>
            </div>
        </div>

    </div>

    <button class="btn btn-outline-dark btn-pb "><b>XEM THÊM</b></button>

    <div class="row pt-4 pb-5">
        <div class="col">
            <img class="banner" src="https://routine.vn/media/amasty/webp/wysiwyg/Polo_Premium_jpg.webp" />
        </div>

        <div class="col">
            <img class="banner" src="https://routine.vn/media/amasty/webp/wysiwyg/Active_wear_jpg.webp" />
        </div>
    </div>
</div>
